{{#hasRole 'administrator'}}
  {{#if users}}
    <form role="form" class="well add-member">
      <div class="form-group">
        <select name="user" class="form-control">
          {{#each users}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="role" id="role-contributor" value="contributor" checked> <strong>Contributor</strong><br> Can add items to this Bucket, but can not publish them directly or edit entry slugs.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="role" id="role-editor" value="editor"> <strong>Editor</strong><br> Can publish directly and edit slugs.
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add member</button>
      </div>
    </form>
  {{else}}
    <div class="lead">
      All users are members of {{bucket.name}}.
    </div>
  {{/if}}
  <hr>
{{/hasRole}}

<div class="row">
  <div class="col-md-12">
    {{#if items}}
      <ul class="nav nav-stacked nav-pills members">
      {{#each items}}
        <li class="member clearfix" data-member-id="{{id}}">
          <a href="#" class="btn btn-link delete-member pull-right">{{icon 'trash'}}</a>
          <div>
            <strong>{{gravatar email_hash}} {{name}}</strong>
            <small>{{role}}</small>
          </div>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
