<form class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {{logo}}
      <h1>Buckets</h1>

      <p>Let’s get you an admin account:</p>
      {{input 'name' '' placeholder="Full name"}}
      {{input 'email' '' placeholder="Email"}}
      {{input 'password' '' placeholder="Password" type="password"}}

      {{submit 'Get Started'}}
    </div>
  </div>
</form>
