<form class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {{logo}}
      <h4>Hi! First, let’s set you up as the admin:</h4>
      {{input 'name' '' placeholder="Name"}}
      {{input 'email' '' placeholder="Email"}}
      {{input 'password' '' placeholder="Password" type="password"}}

      {{submit 'Sign Up'}}
    </div>
  </div>
</form>
