<form>
  {{input 'name' name placeholder="Full name"}}
  {{input 'email' email placeholder="Email"}}
  {{#is _id currentUser._id}}
    <h4>Change your password</h4>
    {{input 'oldpassword' '' placeholder="Old password" type="password"}}
    {{input 'newpassword1' '' placeholder="New password" type="password"}}
    {{input 'newpassword2' '' placeholder="Confirm new password" type="password"}}
  {{else}}
    {{#unless _id}}
      {{input 'password' '' placeholder="Password" type="password"}}
    {{else}}
      <a class="btn btn-link" href="#remove">Remove this user</a>
    {{/unless}}
  {{/is}}
  {{submit "Save User"}}
</form>
