<form class="panel panel-default">
  <div class="panel-body">
    {{input 'name' name placeholder="Full name" label="Name"}}
    {{input 'email' email placeholder="Email" label="Email"}}
    {{#is _id currentUser._id}}
      <h4 data-toggle="collapse" data-target="#changePassword" class="collapsed"><span class="caret"></span> Update your password</h4>
      <div id="changePassword" class="collapse">
        {{input 'oldpassword' '' placeholder="Old password" type="password"}}
        {{input 'newpassword1' '' placeholder="New password" type="password"}}
        {{input 'newpassword2' '' placeholder="Confirm new password" type="password"}}
      </div>

    {{else}}
      {{#unless _id}}
        {{input 'password' '' placeholder="Password" type="password"}}
      {{/unless}}
    {{/is}}
    {{#hasRole 'administrator'}}
      <h4>Permissions</h4>
      {{checkbox 'admin' isAdmin label="User is an administrator"}}
    {{/hasRole}}

    <div class="pull-right">
      {{#if _id}}
        {{#isnt _id currentUser._id}}
          <a class="btn btn-danger" href="#remove">Remove this user</a>
        {{/isnt}}
      {{/if}}
      {{submit "Save"}}
    </div>
  </div>
</form>
