<form class="panel panel-default" autocomplete="off">
  <div class="panel-body">
    {{input 'name' name placeholder="Full name" label="Name"}}
    {{input 'email' email placeholder="Email" label="Email"}}

    {{!-- Viewing your own profile --}}
    {{#is id currentUser.id}}
      <h4 data-toggle="collapse" data-target="#changePassword" class="collapsed"><span class="caret"></span> Update your password</h4>
      <div id="changePassword" class="collapse">
        {{input 'oldpassword' '' placeholder="Old password" type="password"}}
        {{input 'password' '' placeholder="New password" type="password"}}
        {{input 'passwordconfirm' '' placeholder="Confirm new password" type="password"}}
      </div>
      {{hidden 'admin' isAdmin}}
    {{!-- Viewing someone else's --}}
    {{else}}
      {{#if id}}
        {{#if last_active}}
          <p>{{name}} was last active {{timeAgo last_active}}.</p>
        {{else}}
          <p>{{name}} has not logged in yet.</p>
        {{/if}}
      {{else}}
        {{input 'password' '' placeholder="Password" type="password"}}
      {{/if}}
      {{#hasRole 'administrator'}}
        <h4>Permissions</h4>
        {{checkbox 'admin' isAdmin label="User is an administrator"}}
      {{/hasRole}}
    {{/is}}

    {{checkbox 'previewMode' previewMode label="View site in staging mode" help="View upcoming design changes, if any exist."}}

    {{#if dropboxEnabled}}

      <h5>Dropbox</h5>
      {{#if dropbox}}
        <a href="#importDropbox" class="btn btn-default">Import</a>
        <a href="#deploy" class="btn btn-primary">Deploy your preview site</a>
        <a href="/api/disconnect/dropbox" class="btn btn-xs btn-link btn-icon btn-icon-small">{{icon 'dropbox'}} Disconnect</a>
      {{else}}
        <a href="/api/connect/dropbox" class="btn btn-link btn-large btn-icon noscript">{{icon 'dropbox'}} Connect to Dropbox</a>
        <p>Deploy design updates with one click or stage changes and preview them.</p>
      {{/if}}

    {{/if}}

    <div class="pull-right">
      {{#if id}}
        {{#isnt id currentUser.id}}
          <a class="btn btn-danger" href="#remove">Remove this user</a>
        {{/isnt}}
      {{/if}}
      {{submit "Save"}}
    </div>
  </div>
</form>
