<form class="panel panel-default" autocomplete="off">
  <div class="panel-body">
    {{input 'name' name placeholder="Full name" label="Name"}}
    {{input 'email' email placeholder="Email" label="Email"}}

    {{!-- Viewing your own profile --}}
    {{#is id currentUser.id}}
      <h4 data-toggle="collapse" data-target="#changePassword" class="collapsed"><span class="caret"></span> Update your password</h4>
      <div id="changePassword" class="collapse">
        {{input 'oldpassword' '' placeholder="Old password" type="password"}}
        {{input 'password' '' placeholder="New password" type="password"}}
        {{input 'passwordconfirm' '' placeholder="Confirm new password" type="password"}}
      </div>

    {{!-- Viewing someone else's --}}
    {{else}}
      {{#if id}}
        {{#if last_active}}
          <p>{{name}} was last active {{timeAgo last_active}}.</p>
        {{else}}
          <p>{{name}} has not logged in yet.</p>
        {{/if}}
      {{else}}
        {{input 'password' '' placeholder="Password" type="password"}}
      {{/if}}
      {{#hasRole 'administrator'}}
        <h4>Permissions</h4>
        {{checkbox 'admin' isAdmin label="User is an administrator"}}
      {{/hasRole}}
    {{/is}}

    <div class="pull-right">
      {{#if id}}
        {{#isnt id currentUser.id}}
          <a class="btn btn-danger" href="#remove">Remove this user</a>
        {{/isnt}}
      {{/if}}
      {{submit "Save"}}
    </div>
  </div>
</form>
