<div class="row">
  <h1 class="page-title background-yellow">Users <a href="#add" class="btn btn-link btn-icon pull-right">{{icon 'plus'}}</a></h1>

  <div class="col-md-3 col-sm-4">
    {{#if items}}
      <ul class="nav nav-stacked nav-pills users">
      {{#each items}}
        <li><a href="/{{adminSegment}}/users/{{email}}"><strong>{{gravatar email_hash}} {{name}}</strong></a></li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
  <hr class="visible-xs">
  <div class="col-sm-8 detail">
  </div>
</div>
