<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buckets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,
        900italic,400,700,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>Buckets Pre-alpha</h1>

    <p>Soon, this page will be served dynamically with all sorts of cool stuff,
    but for now, you’re probably looking for <a href="/{{adminSegment}}/">the
    admin.</a></p>

    {{#entries}}
      <h3>{{title}}</h3>
      {{description}}
    {{else}}
      <p>Add some entries into any Bucket and they’ll show up here :)</p>
    {{/entries}}

    {{#if req.query}}
      <h2>This request had query params.</h2>
      <ul>
        {{#eachProperty req.query}}
          <li><strong>{{key}}:</strong> {{value}}</li>
        {{/eachProperty}}
      </ul>
    {{else}}
      <p>This page did not pass any <a href="/?example=customKey">request params</a>.</h1>
    {{/if}}

    <style>
      body {
        font-family: Alegreya, Georgia, serif;
        color: #555;
        padding: 20px;
      }

      p {
        max-width: 600px;
      }
    </style>

    {{renderTime}}
  </body>
</html>
