<header id="page-header">
  <h1 class="page-title"><a href="/">Buckets</a></h1>
</header>

<div id="content">
  {{#entries slug=req.params.slug}}
    <h1>
      <a href="/{{slug}}">{{title}}</a>
      {{#if author}}
        <em></em>
      {{/if}}
    </h1>
    {{markdown body}}
    {{bucket.name}}
    <footer>
      <em>Published on {{formatTime publishDate format="MMM D, YYYY h:mma"}} by
      <strong>{{author.name}}</strong></em>
    </footer>
    {{!-- {{inspect .}} --}}
  {{else}}
    {{next}}
  {{/entries}}
</div>
