<header id="page-header">
  <h1><a href="/">Buckets</a></h1>
  <form method="GET" action="/search/">
    <input name="q" placeholder="Search" value="{{req.query.q}}">
  </form>
</header>

<div id="content">
  {{#entries bucket="articles" slug=req.params.slug search=req.query.q}}
    <h1>
      <a href="/{{slug}}">{{title}}</a>
      {{#if author}}
        <em></em>
      {{/if}}
    </h1>
    {{markdown body}}
    <footer>
      <em>Published on {{formatTime publishDate format="MMM D, YYYY h:mma"}} by <strong>{{author.name}}</strong></em>
    </footer>
    {{!-- {{inspect .}} --}}
  {{else}}
    <p>Add some entries into any Bucket and they’ll show up here :)</p>
  {{/entries}}
</div>
