<div class="container-fluid loggedInView">
  <div class="row">
    <nav class="col-xs-12" id="bkts-sidebar">
      <div class="bkts-sidebar-inner">
        <header id="bkts-hdr">
          <span class="visible-xs" data-toggle="nav-primary">
            <a href="#menu" class="btn btn-menu">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </span>
          {{logo}}
        </header>

        <ul class="nav nav-pills nav-stacked nav-primary hidden-xs collapse in" id="nav-primary">
          {{#each buckets}}
            <li class="bucket color-{{color}}">
              <a href="/{{adminSegment}}/buckets/{{slug}}">
                {{icon icon}} {{name}}
              </a>
              <a class="bucket-add" href="/{{adminSegment}}/buckets/{{slug}}/add">{{icon 'add'}}</a>
            </li>
          {{/each}}
          {{#hasRole 'administrator'}}
            <li><a href="/{{adminSegment}}/buckets/add">{{icon 'add'}} New Bucket</a></li>
          {{/hasRole}}

          {{#hasRole 'administrator'}}
            <li class="divider"></li>
            <li><a href="/{{adminSegment}}/routes">{{icon 'direction-sign'}} Routes</a></li>
            <li><a href="/{{adminSegment}}/templates">{{icon 'html'}} Templates</a></li>
            <li class="divider"></li>
            {{!-- <li><a href="/{{adminSegment}}/settings">{{icon 'setting-gear'}} Settings</a></li> --}}
            <li><a href="/{{adminSegment}}/users">{{icon 'user'}} People</a></li>
          {{/hasRole}}
          <li class="divider"></li>
          <li class="usernav dropup btn-group">
            <a href="#" data-toggle="dropdown">
              {{gravatar email_hash}} <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="logout">
                <a href="/" class="noscript">Return to website</a>
                <a href="/{{adminSegment}}/docs/api/" target="_blank">API Docs</a>
                <a href="/{{adminSegment}}/users/{{email}}">Profile</a>
                <a class="noscript" href="/{{adminSegment}}/logout">Log&nbsp;out</a>
              </li>
            </ul>
          </li>
          <li>
            <footer id="bkts-ftr">
              <br>
              <a class="show-tooltip btn-icon btn-small btn-link pull-right" title="Fork me on GitHub" href="https://github.com/asm-products/buckets" target="_blank"><span class="icon buckets-icon-github"></span></a>

              <strong>Buckets <small>{{version}}</small></strong>
            </footer>
          </li>
        </ul>
      </div>
    </nav>

    <div class="clearfix visible-xs"></div>
    <div class="page col-xs-12"></div>
  </div>
</div>
