<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-xs-12">
      <header id="bkts-hdr">
        <span class="visible-xs pull-right" data-toggle="nav-primary">
          <a href="#menu" class="btn btn-menu btn-default"> Menu</a>
        </span>
        <h1 id="logo"><a href="/{{adminSegment}}/"><img src="/{{adminSegment}}/img/buckets.svg"></a> <span class="version-badge">pre-alpha</span></h1>

      </header>

      <ul class="nav nav-pills nav-stacked nav-primary hidden-xs collapse in" id="nav-primary">
        {{#each buckets}}
          <li class="bucket color-{{color}}">
            <a href="/{{adminSegment}}/buckets/{{slug}}">
              {{!-- <span class="badge pull-right">42</span> --}}

              {{icon icon}} {{name}}
            </a>
            <a class="bucket-add" href="/{{adminSegment}}/buckets/{{slug}}/add">{{icon 'add'}}</a>
          </li>
        {{/each}}
        <li><a href="/{{adminSegment}}/buckets/add">{{icon 'add'}} New Bucket</a></li>

        {{#hasRole 'administrator'}}
          <li class="divider"></li>
          <li><a href="/{{adminSegment}}/routes">{{icon 'direction-sign'}} Routes</a></li>
          <li><a href="/{{adminSegment}}/templates">{{icon 'file-code'}} Templates</a></li>
          <li class="divider"></li>
          {{!-- <li><a href="/{{adminSegment}}/settings">{{icon 'setting-gear'}} Settings</a></li> --}}
          <li><a href="/{{adminSegment}}/users">{{icon 'contacts'}} Users</a></li>
        {{/hasRole}}
        <li class="divider"></li>
        <li class="usernav">
          <a href="/{{adminSegment}}/users/{{email}}">{{gravatar email_hash}} {{name}}</a>
        </li>
        <li class="logout">
          <a class="noscript" href="/{{adminSegment}}/logout">Log&nbsp;out</a>
        </li>
      </ul>
    </nav>
    <div class="clearfix visible-xs"></div>
    <div class="page col-sm-9"></div>
  </div>
</div>
