<header id="page-header">
  <h1 class="page-title"><a href="/">Hello.</a></h1>
</header>

<div id="content">
  {{#entries bucket="articles" slug=req.params.slug}}
    <h1><a href="/{{slug}}">{{title}}</a></h1>
    {{#if image}}
      <div>
        {{img image}}
      </div>
    {{/if}}
    {{markdown body}}
    <footer>
      {{formatTime publishDate format="MMM D, h:mma"}} by
      <strong>{{author.name}}</strong> in {{bucket.name}}
    </footer>
    {{!-- {{inspect .}} --}}
  {{else}}
    {{next}}
  {{/entries}}
</div>
