<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    {{newrelic}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buckets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="{{assetPath}}/favicon.ico?v1">
    <link rel="apple-touch-icon-precomposed" href="/{{adminSegment}}/apple-touch-icon-precomposed.png">

    <link rel="stylesheet" href="{{assetPath}}/css/buckets.css">
    <link rel="stylesheet" href="{{assetPath}}/css/plugins.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,400italic,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preload"></div>
    <div id="bkts-content"></div>
    <!-- env: {{env}} -->
    <script src="{{assetPath}}/vendor/spin.js/spin.js"></script>
    <script>
      if (typeof Spinner !== 'undefined') {
        var opts = {
          lines: 12,
          length: 3,
          width: 3,
          radius: 8,
          color: '#999',
          speed: 1.2,
          hwaccel: true
        };
        var preload = document.getElementById('preload');
        var spinner = new Spinner(opts).spin(preload);
      }
    </script>
    <script src="{{assetPath}}/js/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/{{adminSegment}}/vendor/jquery/js/jquery.min.js"><\/script>')</script>
    <script src="{{assetPath}}/js/vendor.js"></script>
    <script src="{{assetPath}}/js/buckets.js"></script>
    <script>
      try {
        BucketsApp = require('buckets');
        window.bkts = new BucketsApp({
          adminSegment: '{{adminSegment}}', apiSegment: '{{apiSegment}}', version: '{{version}}'
          {{~#if needsInstall~}}
            ,needsInstall: {{~needsInstall~}}
          {{~/if~}}
          {{~#if plugins~}}
            ,bootPlugins: {{~json plugins~}}
          {{~/if~}}
          {{~#if user~}}
            ,user: {{~json user~}}
          {{~/if~}}
          {{~#if cloudinary~}}
            ,cloudinary: {{~json cloudinary~}}
          {{~/if~}}
        });

        $(preload).fadeOut(function(){
          this.remove();
        });
      } catch (e) {
        if (e && e.message && window.jQuery) {
          console.error(e);
          $('#bkts-content').append("<div class=\"container\"><div class=\"alert center alert-danger\"><strong>There was an error loading the Buckets JavaScript.</strong> <br>If you’re the site developer, have you run <code>grunt build</code> or <code>grunt dev</code>?</div></div>")
        }
        document.body.removeChild(preload);
      }
    </script>
    <script src="{{assetPath}}/js/plugins.js"></script>
    {{~#isnt env 'production'~}}
      <script src="//localhost:35729/livereload.js"></script>
    {{~/isnt~}}
  </body>
</html>
