<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buckets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="/{{adminSegment}}/favicon.ico?v1">
    <link rel="apple-touch-icon-precomposed" href="/{{adminSegment}}/apple-touch-icon-precomposed.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/{{adminSegment}}/css/buckets.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="bkts-content"></div>

    <footer id="bkts-ftr">
      <div class="container-fluid">
        <hr class="tiny">
        <a href="/" class="noscript">‹ Return to website</a> · Made with ♥︎ on <a href="http://assemblymade.com/buckets" target="_blank">Assembly</a> · <a href="https://github.com/asm-products/buckets" target="_blank"><span class="icon buckets-icon-github"></span></a>
      </div>
    </footer>
    <!-- Env: {{env}} -->
    <script src="/{{adminSegment}}/js/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/{{adminSegment}}/js/vendor.js"></script>
    <script src="/{{adminSegment}}/js/buckets.js"></script>
    <script>

      try {
        BucketsApp = require('buckets');

        window.bkts = new BucketsApp({

          adminSegment: '{{adminSegment}}'
          ,apiSegment: '{{apiSegment}}'

          {{#if needsInstall}}
            ,needsInstall: {{needsInstall}}
          {{/if}}
          {{#if plugins}}
            ,bootPlugins: {{json plugins}}
          {{/if}}
          {{#if user}}
            ,user: {{json user}}
          {{/if}}
        });
      } catch (e) {
        if (e && e.message && window.jQuery) {
          console.error(e);
          $('#bkts-content').append("<div class=\"container\"><div class=\"alert center alert-danger\"><strong>There was an error loading the Buckets JavaScript.</strong> <br>If you’re the site developer, have you run <code>grunt build</code> or <code>grunt dev</code>?</div></div>")
        }
      }
    </script>
    {{#each plugins}}
      <script src="/{{../adminSegment}}/plugins/{{.}}.js"></script>
    {{/each}}
    {{#is env 'development'}}
      <script src="//localhost:35729/livereload.js"></script>
    {{/is}}
  </body>
</html>
