<form>
  <h1>Templates</h1>
  <div class="row">
    <div class="col-md-3">
      <a href="#new" class="btn btn-default btn-block">New Template</a>
      <br>
      <ul class="nav nav-stacked nav-pills">
      {{#each items}}
        <li{{#is filename ../filename}} class="active"{{/is}}>
          <a href="/{{adminSegment}}/templates/{{filename}}">{{filename}}</a>
        </li>
      {{/each}}
      </ul>

      <hr>
      <div class="notForIndex {{#is filename 'index'}}hide{{/is}}">
        {{input 'filename' filename attrs='placeholder="Filename"'}}
      </div>
      <div class="pull-right">
        <span class="notForIndex {{#is filename 'index'}}hide{{/is}}">
          <a href="#delete" class="btn btn-icon btn-link">{{icon 'trash'}}</a>
        </span>
        {{submit 'Save'}}
      </div>
      <div class="clearfix"></div>

    </div>
    <div class="col-md-9">
      {{textarea 'contents' contents className='form-control code hidden' rows=20}}
      <pre class="code editor"></pre>
    </div>
  </div>
</form>
