<form>
  <div class="pull-right">
    <a href="#new" class="btn btn-default">New</a>
  </div>
  <h1>Templates</h1>
  <div class="toolbar">
    <div class="row">
      <div class="col-xs-8">
        <div class="input-group">
          <input name="filename" value="{{filename}}" placeholder="Filename" class="form-control">
          <div class="dropdown input-group-btn">
            <a data-toggle="dropdown" href="#" class="btn"><span class="caret"></span></a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
              {{#each items}}
                <li{{#is filename ../filename}} class="active"{{/is}}>
                  <a href="/{{adminSegment}}/templates/{{filename}}">{{filename}}</a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4" align="right">
        <span class="notForIndex {{#is filename 'index'}}hide{{/is}}">
        <a href="#delete" class="btn btn-icon btn-link">{{icon 'trash'}}</a>
        </span>
        {{submit 'Save'}}
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  {{textarea 'contents' contents label="Handlebars" className='form-control code' size='lg'}}

</form>
