<form>
  {{hidden 'author' user._id}}
  {{hidden 'bucket' bucket._id}}

  <div class="row">
    <div class="col-md-6">

      <h1>
        <a href="/{{adminSegment}}/buckets/{{bucket.slug}}">{{bucket.name}}</a> /
        {{#if _id}}
          Edit {{bucket.singular}}
        {{else}}
          New {{bucket.singular}}
        {{/if}}
      </h1>

      <div class="panel panel-default">
        <div class="panel-body">
          {{input 'title' title placeholder=newTitle slugName='slug' slugValue=slug size='lg' label="Title" required=true}}

          <div class="userFields"></div>
          <div class="clearfix"></div>

          <div class="entry-publish">
            <div class="dateInput hidden">
              {{input 'publishDate' publishDate placeholder="ie. Next tuesday or now" label="Schedule Publish Date"}}
            </div>

            <br>

            <div class="btn-group">
              {{submit "Publish"}}
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                   <li><a href="#draft">Save as a draft</a></li>
                   <li><a href="#date">Publish on…</a></li>
                 </ul>
              </div>
            </div>
            <a href="/{{adminSegment}}/buckets/{{bucket.slug}}/" class="btn btn-icon btn-link">Cancel</a>
            {{#if _id}}
              <a href="#delete" class="btn btn-icon btn-link pull-right">{{icon 'trash'}}</a>
            {{/if}}
          </div>

          <h4 data-toggle="collapse" data-target="#meta" class="collapsed"><span class="caret"></span> Meta</h4>
          <div id="meta" class="collapse">
            {{input 'keywords' keywords label="Keywords" size='sm'}}
            {{textarea 'description' description label="Description" size='sm'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
