<form>
  {{hidden 'author' user._id}}
  {{hidden 'bucket' bucket._id}}

  {{#if _id}}
    <a href="#delete" class="btn btn-icon btn-link pull-right">{{icon 'trash'}}</a>
    <h1>{{title}}</h1>
  {{else}}
    <h1>{{bucket.singular}}</h1>
  {{/if}}


  <div class="row">
    <div class="col-md-8">

      {{input 'title' title placeholder=newTitle sluggify='slug' className="input-lg form-control"}}

      {{!-- Probably have to use subviews soon --}}
      {{#each bucket.fields}}
        {{#is fieldType 'checkbox'}}
          {{checkbox slug value label=name}}
        {{else}}
          {{input slug value label=name type=fieldType}}
        {{/is}}
        {{debug}}
      {{/each}}

      <div class="pull-right">
        <div class="btn-group">
          {{submit "Publish"}}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a href="#draft">Save as a draft</a></li>
               <li><a href="#date">Publish on…</a></li>
             </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-4">
      <h4>Publish</h4>
      {{input 'publishDate' publishDate placeholder="Next tuesday"}}
      <h4>Meta</h4>
      {{input 'slug' slug label="Slug"}}
      {{input 'keywords' keywords label="Keywords"}}
      {{textarea 'description' description label="Description"}}
    </div>
  </div>
</form>
