<form>
  {{hidden 'author' author.id}}
  {{hidden 'bucket' bucket.id}}

  <div class="panel panel-default">
    <div class="panel-body">
      {{input 'title' title placeholder=newTitle slugName='slug' slugValue=slug size='lg' label="Title" required=true}}

      <div class="userFields"></div>
      <div class="clearfix"></div>

      <div class="entry-publish">
        {{#is status 'pending'}}
          {{#hasRole 'editor' bucket.id}}
            <p>Submitted by {{gravatar author.email_hash}} {{author.name}}</p>
          {{/hasRole}}
        {{/is}}
        {{#if id}}
          <a href="#delete" class="btn btn-icon btn-icon-small btn-link pull-right">{{icon 'trash'}}</a>
        {{/if}}
        <div class="btn-group">
          {{#if id}}
            {{#is status 'live'}}
              {{submit "Save"}}
            {{else}}
              {{#is status 'pending'}}
                {{#hasRole 'editor' bucket.id}}
                  <a class="btn btn-primary" href="#publish">Approve &amp; publish</a>
                {{else}}
                  {{submit "Save"}}
                {{/hasRole}}
              {{else}}
                {{submit "Save"}}
              {{/is}}
            {{/is}}
          {{else}}
            {{#hasRole 'editor' bucket.id}}
              {{submit "Publish"}}
            {{else}}
              {{submit 'Submit to publish'}}
            {{/hasRole}}
          {{/if}}
          <div class="btn-group">
            <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{!-- SRY --}}
              {{#isnt status 'live'}}
                {{#is status 'draft'}}
                  {{#if id}}
                    <li><a href="#publish">Publish now</a></li>
                  {{else}}
                    <li><a href="#draft">Save as a draft</a></li>
                  {{/if}}
                {{else}}
                  <li><a href="#draft">Save as a draft</a></li>
                {{/is}}
                <li><a href="#date">Publish on…</a></li>
              {{/isnt}}
              {{#if id}}
                <li><a href="#copy">Copy as a new draft</a></li>
              {{/if}}
              {{#is status 'pending'}}
                {{#hasRole 'editor' bucket.id}}
                  <li><a href="#reject">Reject</a></li>
                {{/hasRole}}
              {{/is}}
             </ul>
          </div>
        </div>
        <a href="/{{adminSegment}}/buckets/{{bucket.slug}}/" class="btn btn-link">Cancel</a>
      </div>

      <h4 data-toggle="collapse" data-target="#meta" class="collapsed"><span class="caret"></span> Meta</h4>
      <div id="meta" class="collapse">
        <div class="dateInput {{#isnt status 'live'}}hidden{{/isnt}}">
          <div class="form-group">
            {{input 'publishDate' publishDate placeholder="Tomorrow at 9am" label="Publish Date"}}
          </div>
        </div>
        {{input 'keywords' keywords label="Keywords" size='sm'}}
        {{textarea 'description' description label="Description" size='sm'}}
      </div>
    </div>
  </div>
</form>
