<form>
  <input type="hidden" name="author" value="{{user._id}}">
  <input type="hidden" name="bucket" value="{{bucket._id}}">

  {{#if _id}}
    <h1>Edit {{title}}</h1>
  {{else}}
    <h1>New {{bucket.singular}}</h1>
  {{/if}}

  <div class="row">
    <div class="col-md-8">
      {{input 'text' 'title' placeholder="Title" value=title}}
      <div class="alert alert-warning">TBD: Custom fields</div>

      {{submit text="Save"}}
    </div>
    <div class="col-md-4">
      <h4>Publish</h4>
      {{input 'text' 'publishDate' placeholder="Now" value=publishDate}}
      <h4>Meta</h4>
      {{input 'text' 'Keywords' placeholder="Keywords" label="Keywords" value=keywords}}
      <textarea name="description" class="form-control" placeholder="Description">{{description}}</textarea>
      <input type="hidden" name="author" value="{{user._id}}">
    </div>
  </div>
</form>