<form>
  {{hidden 'author' user._id}}
  {{hidden 'bucket' bucket._id}}

  {{#if _id}}
    <a href="#delete" class="btn btn-link pull-right">{{icon 'trash'}}</a>
    <h1>Edit {{title}}</h1>
  {{else}}
    <h1>New {{bucket.singular}}</h1>
  {{/if}}

  <div class="row">
    <div class="col-md-8">
      {{input 'title' title placeholder="Title"}}
      <div class="alert alert-warning">TBD: Custom fields</div>

      <div class="pull-right">
        <div class="btn-group">
          {{submit "Publish"}}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a href="#draft">Save as a draft</a></li>
               <li><a href="#date">Publish on…</a></li>
             </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-4">
      <h4>Publish</h4>
      {{input 'publishDate' publishDate placeholder="Next tuesday"}}
      <h4>Meta</h4>
      {{input 'keywords' keywords placeholder="Keywords" label="Keywords"}}
      <div class="form-group">
        <textarea name="description" class="form-control" placeholder="Description">{{description}}</textarea>
      </div>
    </div>
  </div>
</form>
