<a href="/{{adminSegment}}/buckets/{{bucket.slug}}/settings" class="btn btn-link pull-right">{{icon 'cog'}}</a>

<h1>{{bucket.name}}</h1>

{{#any items}}
  <a class="btn btn-default" href="/{{adminSegment}}/buckets/{{bucket.slug}}/add">Add {{bucket.singular}}</a>
{{/any}}

{{#each items}}
  <h3><a href="/{{adminSegment}}/buckets/{{../bucket.slug}}/{{id}}">{{title}}</a></h3>
  <h4>{{gravatar author.email_hash}} <a href="/{{adminSegment}}/users/{{author._id}}">{{author.name}}</a> · {{timeAgo publishDate}}</h4>
{{else}}
  <div class="center">
    <div class="info">
      <h2>{{dumbBlankSlate bucket.name}}</h2>
      <a class="btn btn-default btn-lg" href="/{{adminSegment}}/buckets/{{bucket.slug}}/add">Add your first {{bucket.singular}}</a>
    </div>
  </div>
{{/each}}
