<h1>{{bucket.name}}</h1>
<a class="btn btn-default" href="/{{adminSegment}}/buckets/{{bucket.slug}}/add">New {{bucket.singular}}</a>

<a href="/{{adminSegment}}/buckets/{{bucket.slug}}/settings">{{icon 'cog'}}</a>