<h1>
  {{bucket.name}}
  <a href="/{{adminSegment}}/buckets/{{bucket.slug}}/settings" class="btn btn-link btn-icon show-tooltip"  title="Bucket Settings" data-placement="top">{{icon 'cog'}}</a>
</h1>

{{#any items}}
  <a class="btn btn-default" href="/{{adminSegment}}/buckets/{{bucket.slug}}/add">Add {{bucket.singular}}</a>
{{/any}}

{{#each items}}
  <div class="entry">
    <h3><a href="/{{adminSegment}}/buckets/{{../bucket.slug}}/{{id}}">{{title}}</a></h3>
    <h4>{{gravatar author.email_hash}} &nbsp;<a href="/{{adminSegment}}/users/{{author.email}}">{{author.name}}</a> · {{#is status 'draft'}}<span class="label label-default">{{status}}</span>{{/is}} {{timeAgo publishDate}}</h4>
  </div>
{{else}}
  <div class="center">
    <div class="info">
      <h2>This bucket is empty :/</h2>
      <a class="btn btn-default btn-lg" href="/{{adminSegment}}/buckets/{{bucket.slug}}/add">Add your first {{bucket.singular}}</a>
    </div>
  </div>
{{/each}}
