<div class="entry" data-entry-id="{{id}}">
  <h3><a href="/{{adminSegment}}/buckets/{{bucket.slug}}/{{id}}">{{title}}</a></h3>
  <h4><span class="label label-{{statusColor status}}">{{status}}</span> <a href="/{{adminSegment}}/users/{{author.email}}">{{author.name}}</a> · {{timeAgo publishDate}}</h4>
</div>
