<div class="entry" data-entry-id="{{id}}">
  <h3><a href="/{{adminSegment}}/buckets/{{bucket.slug}}/{{id}}">{{title}}</a></h3>
  <p class="text-muted">
    {{gravatar author.email_hash}}
    <span class="label label-{{statusColor status}}">{{status}}</span> · {{timeAgo publishDate}}</p>
</div>
