<div class="entry" data-entry-id="{{id}}">
  <h3><a href="/{{adminSegment}}/buckets/{{bucket.slug}}/{{id}}">{{title}}</a></h3>
  <div class="text-muted ui-text">
    {{gravatar author.email_hash}}
    {{#isnt status 'live'}}
      <span class="label label-{{statusColor status}}">
        {{status}}
      </span>
    {{/isnt}} &nbsp;{{timeAgo publishDate}}
  </div>
</div>
