<form class="row">
  <div class="col-md-8">
    <h1>
      {{#if _id}}
        Edit Bucket
      {{else}}
        New Bucket
      {{/if}}
    </h1>

    <p class="intro">Buckets are containers for your various forms of content.</p>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="{{#if _id}}/{{adminSegment}}/buckets/{{slug}}/settings{{else}}#{{/if}}" data-target="#basic" data-toggle="tab">Basic</a>
      </li>
      <li>
        <a href="{{#if _id}}/{{adminSegment}}/buckets/{{slug}}/settings/fields{{else}}#{{/if}}" data-target="#fields" data-toggle="tab">Fields</a>
      </li>
      {{#if _id}}
      <li>
        <a href="/{{adminSegment}}/buckets/{{slug}}/settings/members" data-target="#members" data-toggle="tab">Members</a>
      </li>
      {{/if}}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="basic">
        <div class="row">
          <div class="col-sm-9">
            {{input 'name' name placeholder='ie. Articles, Songs, Products, etc.' slugName='slug' slugValue=slug className="form-control input-lg" label="What does this bucket hold?"}}
          </div>
          <div class="col-sm-3">
            <div class="well center">(icon)</div>
          </div>
        </div>

        <label>Icon</label>

        <div class="swatches icons">
          {{hidden 'icon' icon}}

          <div data-value="edit" class="selected">
            {{icon 'edit'}}
          </div>
          <div data-value="photos">
            {{icon 'photos'}}
          </div>
          <div data-value="calendar">
            {{icon 'calendar'}}
          </div>
          <div data-value="movie">
            {{icon 'movie'}}
          </div>
          <div data-value="music-note">
            {{icon 'music-note'}}
          </div>
          <div data-value="map-pin">
            {{icon 'map-pin'}}
          </div>
          <div data-value="quote">
            {{icon 'quote'}}
          </div>
        </div>

        <label>Color</label>
        {{hidden 'color' color}}

        <div class="swatches colors">
          <div data-value="teal" class="teal selected"></div>
          <div data-value="purple" class="purple"></div>
          <div data-value="red" class="red"></div>
          <div data-value="yellow" class="yellow"></div>
          <div data-value="blue" class="blue"></div>
          <div data-value="orange" class="orange"></div>
        </div>

        {{#if _id}}
          {{input 'singular' singular label="What’s the singular version?" placeholder="Thing"}}
        {{/if}}

        <div class="pull-right">
          {{submit 'Save'}}
        </div>
        {{#if _id}}
          <a href="#delete" class="btn btn-link btn-icon">{{icon 'trash'}}</a>
        {{/if}}
      </div>
      <div class="tab-pane" id="fields"></div>
      <div class="tab-pane" id="members"></div>
    </div>
  </div>
</form>
