<form class="row">
  <div class="col-md-8">
    <h1>
      {{#if _id}}
        Edit Bucket
      {{else}}
        New Bucket
      {{/if}}
    </h1>

    <p class="lead">Buckets are containers for your various forms of content.</p>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="{{#if _id}}/{{adminSegment}}/buckets/{{slug}}/settings{{else}}#{{/if}}" data-target="#basic" data-toggle="tab">Basic</a>
      </li>
      <li>
        <a href="{{#if _id}}/{{adminSegment}}/buckets/{{slug}}/settings/fields{{else}}#{{/if}}" data-target="#fields" data-toggle="tab">Fields</a>
      </li>
      {{#if _id}}
      <li>
        <a href="/{{adminSegment}}/buckets/{{slug}}/settings/members" data-target="#members" data-toggle="tab">Members</a>
      </li>
      {{/if}}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="basic">
        <div class="row">
          <div class="col-sm-3">
            <div class="icon-preview pull-right center">
              <div class="color-{{color}}">
                {{icon icon}}
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            {{input 'name' name placeholder=randomBucketPlaceholder slugName='slug' slugValue=slug className="form-control input-lg" label="What does this bucket hold?"}}

            <label>Icon</label>

            <div class="swatches icons">
              {{hidden 'icon' icon}}
              {{#each icons}}
                <div data-value={{.}} {{#is . ../icon}}class="selected"{{/is}}>
                  {{icon .}}
                </div>
              {{/each}}
            </div>

            <label>Color</label>
            {{hidden 'color' color}}

            <div class="swatches colors">
              {{#each colors}}
                <div data-value="{{.}}" class="{{.}}{{#is . ../color}} selected{{/is}}"></div>
              {{/each}}
            </div>

            <br>

            {{#if _id}}
              {{input 'singular' singular label="What’s the singular version?" placeholder="Thing"}}
            {{/if}}

            {{submit 'Save Bucket' size='lg'}}
            {{#if _id}}
              <a href="#delete" class="btn btn-link btn-icon">{{icon 'trash'}}</a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="tab-pane" id="fields"></div>
      <div class="tab-pane" id="members"></div>
    </div>
  </div>
</form>
