<p class="lead">Custom fields define what your bucket holds.</p>


<div class="row">
  <div class="col-sm-6">
    {{select 'fieldType' '' fieldTypes valueKey="value" className="form-control input-lg"}}
  </div>
</div>

<div class="editField"></div>

{{#if length}}
  <table class="table">
  <tr>
    <th colspan="2">Name</th>
    <th>Type</th>
    <th></th>
  {{#each items}}
    <tr>
      <td><code>\{{{{slug}}<span></span>}}</code></td>
      <td>{{name}}</td>
      <td class="text-muted">{{fieldType}}</td>
      <td valign="middle">
        <a href="#edit" class="btn btn-default btn-xs">Edit</a>
        <a href="#remove" class="btn btn-link btn-sm">{{icon 'trash'}}</a>
      </td>
    </tr>
  {{/each}}
  </table>
{{/if}}

{{submit 'Save'}}
