<p class="lead">Custom fields define what your bucket holds.</p>


<div class="row">
  <div class="col-sm-6">
    {{select 'fieldType' '' fieldTypes valueKey="value"}}
  </div>
</div>

<div class="editField"></div>

{{#if length}}

  <ul class="fieldsList sortable list-group">
  {{#each items}}
    <li class="list-group-item">
      <h3 class="list-group-item-heading"><a href="#edit">{{name}}</a></h2>
      <p class="list-group-item-text">
        <span class="label label-default">{{fieldType}}</span>
        <code>\{{{{slug}}<span></span>}}</code>
        <a class="btn btn-link btn-icon" href="#remove">{{icon 'trash'}}</a>
      </p>
    </li>
  {{/each}}
  </ul>
{{/if}}

{{submit 'Save'}}
