<form class="container-fluid" action="/{{adminSegment}}/login" method="POST">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <header id="bkts-hdr">
        {{logo}}
      </header>

      {{#if next}}
        {{hidden 'next' next}}
      {{/if}}

      <h3>Please log in{{#if next}} to continue{{/if}}:</h3>
      {{input 'username' '' placeholder="Email" type='email'}}
      {{input 'password' '' placeholder="Password" type='password'}}

      {{submit 'Log in'}}
    </div>
  </div>

</form>
