<form class="well">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        {{input 'urlPattern' urlPattern placeholder="/myroute/:param" size="lg" label="Route"}}
      </div>
      <div class="form-group">
        {{select 'template' template templates valueKey='filename' nameKey='filename' label="Template"}}
      </div>

      <div class="pull-right">
        <a href="#cancel" class="btn btn-default">Cancel</a>
        {{#if id}}
          {{submit 'Save route'}}
        {{else}}
          {{submit 'Add route'}}
        {{/if}}
      </div>
    </div>
  </div>
</form>
