<div class="row">
  <div class="col-md-10">
    <form class="well">
      <div class="row">
        <div class="col-sm-7">
          {{input 'urlPattern' urlPattern placeholder="/myroute/:param" size="lg" label="Route"}}
        </div>
        <div class="col-sm-5">
          {{select 'template' template templates valueKey='filename' nameKey='filename' label="Template"}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="pull-right">
            <a href="#cancel" class="btn btn-default">Cancel</a>
            {{#if id}}
              {{submit 'Save route'}}
            {{else}}
              {{submit 'Add route'}}
            {{/if}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
