<form class="well">

  {{input 'urlPattern' urlPattern placeholder="/myroute/:param"}}
  <p class="help-block">Routes are simply URL patterns that map to templates. They can use tokens in the form of <code class="bkts-wildcard">:params</code>.</p>

  {{select 'template' template templates valueKey='filename' nameKey='filename'}}

  {{#if _id}}
    {{submit 'Save route'}}
  {{else}}
    {{submit 'Add route'}}
  {{/if}}
  <a href="#cancel" class="btn btn-default">Cancel</a>

</form>
