<div class="row">
  <h1 class="page-title color-yellow">
    Routes
    <div class="pull-right">
      {{helpIcon 'More about URL patterns' docsPath="routes.md"}}
      <a class="btn btn-link btn-icon btn-icon-small" href="#new">{{icon 'plus'}}</a>
    </div>
  </h1>
</div>

<div class="editRoute"></div>

<div class="row">

  <div class="col-md-8">
    <ul id="sortable-routes" class="sortable">
      {{#each items}}
        <li>
          <div class="route" data-route-id="{{id}}">
            <h2>
              <div class="pull-right">
                <a href="#delete" class="btn btn-link btn-icon btn-icon-small">{{icon 'trash'}}</a> <a class="btn btn-link btn-icon btn-icon-small handle" href="#">{{icon 'cursor-move'}}</a>

                <span class="text-muted"><span class="arrow">&#8677;</span> <code><a href="/{{adminSegment}}/templates/{{template}}">{{template}}</a></code></span>
              </div>

              <a href="#edit">{{renderRoute}}</a>

            </h2>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
