<div class="row">
  <h1 class="page-title background-yellow">
    Routes
    <div class="pull-right">
      {{helpIcon 'More about URL patterns' docsPath="routes.md"}}
      <a class="btn btn-link btn-icon btn-icon-small" href="#new">{{icon 'plus'}}</a>
    </div>
  </h1>
</div>

<div class="editRoute"></div>

<ul id="sortable-routes" class="sortable">
  {{#each items}}
    <li>
      <div class="route" data-route-id="{{id}}">
        <h2><a href="#edit">{{renderRoute}}</a> <a href="#delete" class="btn btn-link btn-icon">{{icon 'trash'}}</a></h2>

        <p class="text-muted">↳ <code><a href="/{{adminSegment}}/templates/{{template}}">{{template}}</a></code></p>
      </div>
    </li>
  {{/each}}
</ul>
