<h1>Routes</h1>

<a class="btn btn-default" href="#new">New Route</a>
<div class="editRoute"></div>

{{#each items}}
  <div class="route" data-route-id="{{id}}">
    <a href="#delete" class="btn btn-link pull-right">{{icon 'trash'}}</a>
    <h2>/{{highlightWildcards urlPattern}} » <a href="/{{adminSegment}}/templates/{{template}}">{{template}}</a></h2>
  </div>
{{/each}}