<h1>Routes</h1>

<a class="btn btn-default" href="#new">New Route</a>
<div class="editRoute"></div>

<ul id="sortable-routes" class="sortable">
  {{#each items}}
    <li>
      <div class="route" data-route-id="{{id}}">
        <h2><a href="#edit">{{highlightWildcards urlPattern}}</a> <a href="#delete" class="btn btn-link btn-icon">{{icon 'trash'}}</a></h2>
        <p class="text-muted">↳ <code><a href="/{{adminSegment}}/templates/{{template}}">{{template}}</a></code></p>
      </div>
    </li>
  {{/each}}
</ul>
