<h1>Routes</h1>

<a class="btn btn-default" href="#new">New Route</a>
<div class="editRoute"></div>

{{#each items}}
  <div class="route" data-route-id="{{id}}">
    {{#isnt urlPattern '/'}}<a href="#delete" class="btn btn-link btn-icon pull-right">{{icon 'trash'}}</a>{{/isnt}}
    <h2>{{highlightWildcards urlPattern}} » <a href="/{{adminSegment}}/templates/{{template}}">{{template}}</a></h2>
  </div>
{{/each}}
