<form>
  <div class="panel panel-default">
    <div class="panel-body">
      {{input 'name' name label='Field Label' placeholder='My field' slugName='fieldSlug' slugValue=slug size="lg"}}

      {{textarea 'instructions' instructions label="User Instructions"}}

      <div class="settings"></div>

      <div class="pull-right">
        <a href="#cancel" class="btn btn-default">Cancel</a>
        {{#if id}}
          {{submit 'Save field'}}
        {{else}}
          {{submit 'Add field'}}
        {{/if}}
      </div>
    </div>
  </div>
</form>
