<form>
  <div class="panel panel-default">
    <div class="panel-body">
      {{input 'name' name label='What should the field name be?' placeholder='My field' slugName='fieldSlug' slugValue=slug className="form-control input-lg"}}

      {{textarea 'instructions' instructions label="User Instructions"}}

      {{#isnt fieldType 'checkbox'}}
        {{checkbox 'required' required label='This field is required.'}}
      {{/isnt}}

      <div class="pull-right">
        <a href="#cancel" class="btn btn-default">Cancel</a>
        {{#if _id}}
          {{submit 'Save field'}}
        {{else}}
          {{submit 'Add field'}}
        {{/if}}
      </div>
    </div>
  </div>
</form>
