{{#is fieldType 'textarea'}}
  {{debug}}
  {{textarea slug value label=name help=instructions}}
{{/is}}
{{#is fieldType 'color'}}
  <label>
    <input type="color" name="{{slug}}" value="{{value}}"> {{name}}
  </label>
{{/is}}
{{#is fieldType 'checkbox'}}
  {{checkbox slug value label=name}}
{{/is}}
{{#is fieldType 'text'}}
  {{input slug value label=name type=fieldType help=instructions}}
{{/is}}
{{#is fieldType 'number'}}
  {{input slug value label=name type=fieldType help=instructions}}
{{/is}}
